# Python Version 3.11.1

Facebook Data Analysis

In [3]:
# import libraries
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('facebook user data - facebook user data.csv')

In [5]:
print(df.head())

    userid  age  dob_day  dob_year  dob_month  gender  tenure  friend_count  \
0  2094382   14       19      1999         11    male   266.0             0
1  1192601   14        2      1999         11  female     6.0             0
2  2083884   14       16      1999         11    male    13.0             0
3  1203168   14       25      1999         12  female    93.0             0
4  1733186   14        4      1999         12    male    82.0             0

   friendships_initiated  likes  likes_received  mobile_likes  \
0                      0      0               0             0
1                      0      0               0             0
2                      0      0               0             0
3                      0      0               0             0
4                      0      0               0             0

   mobile_likes_received  www_likes  www_likes_received
0                      0          0                   0
1                      0          0                   0
2                      0          0                   0
3                      0          0                   0
4                      0          0                   0

In [4]:
print(df.tail())

        userid  age  dob_day  dob_year  dob_month  gender  tenure  \
98998  1268299   68        4      1945          4  female   541.0
98999  1256153   18       12      1995          3  female    21.0
99000  1195943   15       10      1998          5  female   111.0
99001  1468023   23       11      1990          4  female   416.0
99002  1397896   39       15      1974          5  female   397.0

       friend_count  friendships_initiated  likes  likes_received  \
98998          2118                    341   3996           18089
98999          1968                   1720   4401           13412
99000          2002                   1524  11959           12554
99001          2560                    185   4506            6516
99002          2049                    768   9410           12443

       mobile_likes  mobile_likes_received  www_likes  www_likes_received
98998          3505                  11887        491                6202
98999          4399                  10592          2                2820
99000         11959                  11462          0                1092
99001          4506                   5760          0                 756
99002          9410                   9530          0                2913

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99003 entries, 0 to 99002
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   userid                 99003 non-null  int64
 1   age                    99003 non-null  int64
 2   dob_day                99003 non-null  int64
 3   dob_year               99003 non-null  int64
 4   dob_month              99003 non-null  int64
 5   gender                 98828 non-null  object
 6   tenure                 99001 non-null  float64
 7   friend_count           99003 non-null  int64
 8   friendships_initiated  99003 non-null  int64
 9   likes                  99003 non-null  int64
 10  likes_received         99003 non-null  int64
 11  mobile_likes           99003 non-null  int64
 12  mobile_likes_received  99003 non-null  int64
 13  www_likes              99003 non-null  int64
 14  www_likes_received     99003 non-null  int64
dtypes: float64(1), int64(13), object(1)
memory usage: 11.3+ MB
None

In [7]:
# find toal null or blank values of each column
print(df.isnull().sum())

userid                     0
age                        0
dob_day                    0
dob_year                   0
dob_month                  0
gender                   175
tenure                     2
friend_count               0
friendships_initiated      0
likes                      0
likes_received             0
mobile_likes               0
mobile_likes_received      0
www_likes                  0
www_likes_received         0
dtype: int64

In [7]:
df['gender'].describe()

count     98828
unique        2
top        male
freq      58574
Name: gender, dtype: object

In [8]:
df['gender'].value_counts()  # print(df.median())

male      58574
female    40254
Name: gender, dtype: int64

In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\anaconda3\lib\site-packages (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.9.1)
Requirement already satisfied: joblib>=0.11 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
# converting string to numeric value with the help of scikit-learn library using LabelEncoder funtion
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['gender']=le.fit_transform(df['gender'])

In [10]:
print(df)

        userid  age  dob_day  dob_year  dob_month  gender  tenure  \
0      2094382   14       19      1999         11       1   266.0
1      1192601   14        2      1999         11       0     6.0
2      2083884   14       16      1999         11       1    13.0
3      1203168   14       25      1999         12       0    93.0
4      1733186   14        4      1999         12       1    82.0
...        ...  ...      ...       ...        ...     ...     ...
98998  1268299   68        4      1945          4       0   541.0
98999  1256153   18       12      1995          3       0    21.0
99000  1195943   15       10      1998          5       0   111.0
99001  1468023   23       11      1990          4       0   416.0
99002  1397896   39       15      1974          5       0   397.0

       friend_count  friendships_initiated  likes  likes_received  \
0                 0                      0      0               0
1                 0                      0      0               0
2                 0                      0      0               0
3                 0                      0      0               0
4                 0                      0      0               0
...             ...                    ...    ...             ...
98998          2118                    341   3996           18089
98999          1968                   1720   4401           13412
99000          2002                   1524  11959           12554
99001          2560                    185   4506            6516
99002          2049                    768   9410           12443

       mobile_likes  mobile_likes_received  www_likes  www_likes_received
0                 0                      0          0                   0
1                 0                      0          0                   0
2                 0                      0          0                   0
3                 0                      0          0                   0
4                 0                      0          0                   0
...             ...                    ...        ...                 ...
98998          3505                  11887        491                6202
98999          4399                  10592          2                2820
99000         11959                  11462          0                1092
99001          4506                   5760          0                 756
99002          9410                   9530          0                2913

[99003 rows x 15 columns]

In [11]:
print(df.corr())

                         userid       age   dob_day  dob_year  dob_month  \
userid                 1.000000 -0.007265 -0.000839  0.007265   0.002924
age                   -0.007265  1.000000  0.035035 -1.000000   0.025167
dob_day               -0.000839  0.035035  1.000000 -0.035035   0.129443
dob_year               0.007265 -1.000000 -0.035035  1.000000  -0.025167
dob_month              0.002924  0.025167  0.129443 -0.025167   1.000000
gender                -0.001820 -0.073412 -0.046840  0.073412  -0.036317
tenure                -0.003446  0.462742  0.041855 -0.462742   0.029446
friend_count          -0.001314 -0.027407  0.021961  0.027407   0.019804
friendships_initiated -0.001591 -0.058059  0.022999  0.058059   0.020075
likes                 -0.002875 -0.013009  0.015980  0.013009   0.014147
likes_received         0.001526 -0.022570  0.001367  0.022570   0.006495
mobile_likes          -0.004868 -0.026715  0.014541  0.026715   0.010400
mobile_likes_received  0.001753 -0.024248  0.000497  0.024248   0.006435
www_likes              0.001828  0.015585  0.009353 -0.015585   0.012136
www_likes_received     0.001074 -0.018224  0.002460  0.018224   0.006003

                         gender    tenure  friend_count  \
userid                -0.001820 -0.003446     -0.001314
age                   -0.073412  0.462742     -0.027407
dob_day               -0.046840  0.041855      0.021961
dob_year               0.073412 -0.462742      0.027407
dob_month             -0.036317  0.029446      0.019804
gender                 1.000000 -0.078786     -0.096969
tenure                -0.078786  1.000000      0.166256
friend_count          -0.096969  0.166256      1.000000
friendships_initiated -0.028362  0.133505      0.825850
likes                 -0.149511  0.057132      0.298017
likes_received        -0.064393  0.027745      0.236463
mobile_likes          -0.123499  0.028052      0.235656
mobile_likes_received -0.061656  0.023971      0.232701
www_likes             -0.107066  0.070757      0.229803
www_likes_received    -0.062499  0.030553      0.220727

                       friendships_initiated     likes  likes_received  \
userid                             -0.001591 -0.002875        0.001526
age                                -0.058059 -0.013009       -0.022570
dob_day                             0.022999  0.015980        0.001367
dob_year                            0.058059  0.013009        0.022570
dob_month                           0.020075  0.014147        0.006495
gender                             -0.028362 -0.149511       -0.064393
tenure                              0.133505  0.057132        0.027745
friend_count                        0.825850  0.298017        0.236463
friendships_initiated               1.000000  0.285592        0.175131
likes                               0.285592  1.000000        0.327376
likes_received                      0.175131  0.327376        1.000000
mobile_likes                        0.229808  0.871652        0.256998
mobile_likes_received               0.173804  0.329258        0.973679
www_likes                           0.214022  0.644960        0.255365
www_likes_received                  0.161439  0.295687        0.947990

                       mobile_likes  mobile_likes_received  www_likes  \
userid                    -0.004868               0.001753   0.001828
age                       -0.026715              -0.024248   0.015585
dob_day                    0.014541               0.000497   0.009353
dob_year                   0.026715               0.024248  -0.015585
dob_month                  0.010400               0.006435   0.012136
gender                    -0.123499              -0.061656  -0.107066
tenure                     0.028052               0.023971   0.070757
friend_count               0.235656               0.232701   0.229803
friendships_initiated      0.229808               0.173804   0.214022
likes                      0.871652               0.329258   0.644960
likes_received             0.256998               0.973679   0.255365
mobile_likes               1.000000               0.288513   0.187619
mobile_likes_received      0.288513               1.000000   0.209997
www_likes                  0.187619               0.209997   1.000000
www_likes_received         0.190173               0.850490   0.296053

                       www_likes_received
userid                           0.001074
age                             -0.018224
dob_day                          0.002460
dob_year                         0.018224
dob_month                        0.006003
gender                          -0.062499
tenure                           0.030553
friend_count                     0.220727
friendships_initiated            0.161439
likes                            0.295687
likes_received                   0.947990
mobile_likes                     0.190173
mobile_likes_received            0.850490
www_likes                        0.296053
www_likes_received               1.000000

In [12]:
print(df.median())

userid                   1596148.0
age                           28.0
dob_day                       14.0
dob_year                    1985.0
dob_month                      6.0
gender                         1.0
tenure                       412.0
friend_count                  82.0
friendships_initiated         46.0
likes                         11.0
likes_received                 8.0
mobile_likes                   4.0
mobile_likes_received          4.0
www_likes                      0.0
www_likes_received             2.0
dtype: float64

In [11]:
# filling null value for column gender
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')
df.gender = imputer.fit_transform(df['gender'].values.reshape(-1,1))

In [12]:
print(df)

        userid  age  dob_day  dob_year  dob_month  gender  tenure  \
0      2094382   14       19      1999         11    male   266.0
1      1192601   14        2      1999         11  female     6.0
2      2083884   14       16      1999         11    male    13.0
3      1203168   14       25      1999         12  female    93.0
4      1733186   14        4      1999         12    male    82.0
...        ...  ...      ...       ...        ...     ...     ...
98998  1268299   68        4      1945          4  female   541.0
98999  1256153   18       12      1995          3  female    21.0
99000  1195943   15       10      1998          5  female   111.0
99001  1468023   23       11      1990          4  female   416.0
99002  1397896   39       15      1974          5  female   397.0

       friend_count  friendships_initiated  likes  likes_received  \
0                 0                      0      0               0
1                 0                      0      0               0
2                 0                      0      0               0
3                 0                      0      0               0
4                 0                      0      0               0
...             ...                    ...    ...             ...
98998          2118                    341   3996           18089
98999          1968                   1720   4401           13412
99000          2002                   1524  11959           12554
99001          2560                    185   4506            6516
99002          2049                    768   9410           12443

       mobile_likes  mobile_likes_received  www_likes  www_likes_received
0                 0                      0          0                   0
1                 0                      0          0                   0
2                 0                      0          0                   0
3                 0                      0          0                   0
4                 0                      0          0                   0
...             ...                    ...        ...                 ...
98998          3505                  11887        491                6202
98999          4399                  10592          2                2820
99000         11959                  11462          0                1092
99001          4506                   5760          0                 756
99002          9410                   9530          0                2913

[99003 rows x 15 columns]

In [13]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99003 entries, 0 to 99002
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   userid                 99003 non-null  int64
 1   age                    99003 non-null  int64
 2   dob_day                99003 non-null  int64
 3   dob_year               99003 non-null  int64
 4   dob_month              99003 non-null  int64
 5   gender                 99003 non-null  object
 6   tenure                 99001 non-null  float64
 7   friend_count           99003 non-null  int64
 8   friendships_initiated  99003 non-null  int64
 9   likes                  99003 non-null  int64
 10  likes_received         99003 non-null  int64
 11  mobile_likes           99003 non-null  int64
 12  mobile_likes_received  99003 non-null  int64
 13  www_likes              99003 non-null  int64
 14  www_likes_received     99003 non-null  int64
dtypes: float64(1), int64(13), object(1)
memory usage: 11.3+ MB
None

In [12]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='median')
df.tenure = imputer.fit_transform(df['tenure'].values.reshape(-1,1))

In [15]:
print(df)

        userid  age  dob_day  dob_year  dob_month  gender  tenure  \
0      2094382   14       19      1999         11    male   266.0
1      1192601   14        2      1999         11  female     6.0
2      2083884   14       16      1999         11    male    13.0
3      1203168   14       25      1999         12  female    93.0
4      1733186   14        4      1999         12    male    82.0
...        ...  ...      ...       ...        ...     ...     ...
98998  1268299   68        4      1945          4  female   541.0
98999  1256153   18       12      1995          3  female    21.0
99000  1195943   15       10      1998          5  female   111.0
99001  1468023   23       11      1990          4  female   416.0
99002  1397896   39       15      1974          5  female   397.0

       friend_count  friendships_initiated  likes  likes_received  \
0                 0                      0      0               0
1                 0                      0      0               0
2                 0                      0      0               0
3                 0                      0      0               0
4                 0                      0      0               0
...             ...                    ...    ...             ...
98998          2118                    341   3996           18089
98999          1968                   1720   4401           13412
99000          2002                   1524  11959           12554
99001          2560                    185   4506            6516
99002          2049                    768   9410           12443

       mobile_likes  mobile_likes_received  www_likes  www_likes_received
0                 0                      0          0                   0
1                 0                      0          0                   0
2                 0                      0          0                   0
3                 0                      0          0                   0
4                 0                      0          0                   0
...             ...                    ...        ...                 ...
98998          3505                  11887        491                6202
98999          4399                  10592          2                2820
99000         11959                  11462          0                1092
99001          4506                   5760          0                 756
99002          9410                   9530          0                2913

[99003 rows x 15 columns]

In [13]:
print(df.isnull().sum())

userid                   0
age                      0
dob_day                  0
dob_year                 0
dob_month                0
gender                   0
tenure                   0
friend_count             0
friendships_initiated    0
likes                    0
likes_received           0
mobile_likes             0
mobile_likes_received    0
www_likes                0
www_likes_received       0
dtype: int64

In [14]:
df = pd.DataFrame(df, columns=['userid', 'age', 'dob_day', 'dob_year', 'dob_month',
'gender','tenure','friend_count', 'friendships_initiated', 'likes', 'likes_received',
'mobile_likes', 'mobile_likes_received', 'www_likes',
'www_likes_received']).to_csv('Facebook_data_New_12-032023.csv')